<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.DB2017_C11ConnectionString"
            connectionString="Data Source=EALSQL1.eal.local;Initial Catalog=DB2017_C11;Persist Security Info=True;User ID=USER_C11;Password=SesamLukOp_11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>